
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C0B2B;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img {
    max-width: 100%;
    height: auto;
}


.menu {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.contato, .projetos, .integrantes {
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.site {
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
    background-image: radial-gradient(#413B6B, #251434 75%, #241233);
    padding: 20px;
    text-align: center;
}

.primeiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin-top: 50px;
}

.cybele, .miguel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.textocybele, .textomiguel {
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.imagem1, .imagem2 {
    border: #ffffff solid 10px;
    width: 90%;
    max-width: 300px;
    height: auto;
}


@media (min-width: 601px) {
    .menu {
        justify-content: flex-start;
        padding-left: 42%;
        font-size: 35px;
    }

    .primeiro {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 100px;
    }

    .cybele {
        margin-left: 170px;
    }

    .miguel {
        margin-right: 50px;
    }

    .textocybele, .textomiguel {
        font-size: 26px;
        margin-left: 20px;
        text-align: left;
    }
}