
.cabecalho {
    background-color: #1C0B2B;
    display: flex;
    align-items: center;
    color: #ffffff;
    height: 100px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-size: 35px;
    font-style: normal;


}

.logo {
padding-right: 47%;
align-items: start;
}

.meio {
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: #6F95FF;
    text-decoration: underline;
}


.contato {
    color: #ffffff;
}

a:link {
    text-decoration: none;
  }

.contato a:hover {
    text-decoration: underline;
}