
.interior {

    width: 1440;
    height: 750px;
    background-image: radial-gradient(#343053, #251434 75%, #241233);


}

.descricao {
    list-style: none;
    position: relative;
    top: 427px;
    left: 110px;
    border: #ffffff solid 8px;
    text-align: center;
    padding-right: 30px;
    height: 120px;
    width: 407px;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding-top: 15px;
    background-color: #241233;
    font-size: 20px;
}

.titulo {
    text-align: center;
    color: #ffffff;
    margin-top: 2%;
    font-size: 50px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

}

.tudo {
    display: flex;
}

.componentes {
    position: relative;
    right: 300px;
    border: #ffffff solid 8px;
    margin-bottom: 20%;
    text-align: center;
    width: 447px;
    height: 373px;
    color: #ffffff;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #241233;
    padding-top: 10px;
    font-size: 30px;
    margin-right: 2%;
}

.video {
    border: #ffffff solid 8px;
    background-color: #241233;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 9%;
}

.texto-descricao {
    padding-top: 10px;
    font-size: 15px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.componentes li {
    font-size: 11.5px;
    text-align: left;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-top: 12px;
}

